//
//   Created by Tech_dog (ebontrop@gmail.com) on 5-Apr-2019 at 10:20:08p, UTC+7, Phuket, Rawai, Thursday;
//   This is sound-bin-trans receiver desktop console application resource script file.
//   -----------------------------------------------------------------------------
//   Adopted to FakeGPS project on 13-Dec-2019 at 8:29:54a, UTC+7, Novosibirsk, Friday;
//   Adopted to Ebo Pack draw renderer test project on 17-Nov-2024 at 16:06:44.806, UTC+4, Batumi, Sunday;
//
#include <winresrc.h>
#include "win.gui.res.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK  0x3fL
#ifdef _DEBUG
 FILEFLAGS      0x1L
#else
 FILEFLAGS      0x0L
#endif
 FILEOS         0x4L
 FILETYPE       0x2L
 FILESUBTYPE    0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
#if defined(WIN64)
            VALUE "Comments"        , "Win.gui test app (64-bit)"
            VALUE "FileDescription" , "Win.gui test app (64-bit)"
#else
            VALUE "Comments"        , "Win.gui test app (32-bit)"
            VALUE "FileDescription" , "Win.gui test app (32-bit)"
#endif
            VALUE "CompanyName"     , "#n/a"
            VALUE "FileVersion"     , "1.0.1.1"
            VALUE "InternalName"    , "GUI Test Project"
            VALUE "LegalCopyright"  , "Tech_dog (c) 2010-2025"
            VALUE "OriginalFilename", "ebo.test.gui_v15.exe"
            VALUE "ProductName"     , "GUI Test Project"
            VALUE "ProductVersion"  , "1.0.1.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
/////////////////////////////////////////////////////////////////////////////
//
// auxiliary string(s)
//

  IDR_WINGUI_ICO          ICON    "icons\\abu_back.ico"
//IDR_WINGUI_ICO          ICON    "icons\\win.gui.ico"
//IDR_WINGUI_ICO          ICON    "icons\\wanderer_rootless.ico"
//IDR_WINGUI_ICO          ICON    "icons\\directx-logo-512px.ico"
/////////////////////////////////////////////////////////////////////////////
//
// auxiliary string(s)
//

/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//
// inserts a custom manifest that is not generated by manifest tool automatically;
// the manifest is included by using relative path, without updating [Resources >> General >> Additional Include Directories] project option;
//
// the macros is defined in WinUser.h
// -----------------------------------------------------------------------------
// https://blogs.msdn.microsoft.com/junfeng/2007/06/26/rt_manifest-resource-and-isolation_aware_enabled/
//

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "win.gui.app.manifest"
